.custom-select {
    position: relative;
}

.custom-select,
.custom-select *,
.custom-select *:before,
.custom-select *:after {
    box-sizing: border-box;
}

.custom-select__select {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

.custom-select__rendered {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: .5rem 1rem;
    height: 48px;
    width: 100%;
    font: inherit;
    font-size: 16px;
    font-weight: normal;
    color: rgb(17 24 39);
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
    background: rgb(249 250 251);
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 26px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath d='M24 30.75 12 18.75 14.15 16.6 24 26.5 33.85 16.65 36 18.8Z'/%3E%3C/svg%3E");
}

.custom-select__rendered-text {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.custom-select__options {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    max-height: 264px;
    background: #FFFFFF;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    z-index: 999;
    border: 1px solid rgb(206, 206, 206);
}

.custom-select__options::-webkit-scrollbar {
    width: 4px;
}

.custom-select__options::-webkit-scrollbar-thumb {
    background: #888;
}

.custom-select__options.is-on-top {
    top: auto;
    bottom: calc(100% + 2px);
}

.custom-select.is-open .custom-select__options {
    opacity: 1;
    visibility: visible;
}

.custom-select__search {
    display: block;
    padding: 4px 8px;
    width: calc(100% - 10px);
    margin: 5px;
    font: inherit;
    font-size: 16px;
    font-weight: normal;
    color: rgb(17 24 39);
    line-height: 1.5;
    outline: none;
    border: 0;
    border: 1px solid gray;
    border-radius: 4px
}

.custom-select__option {
    display: block;
    padding: 6px 8px;
    width: 100%;
    font: inherit;
    font-size: 16px;
    font-weight: normal;
    color: rgb(17 24 39);
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.custom-select__option:hover {
    background: rgb(59 130 246);
    color: white;
}

.custom-select__option.is-selected {
    color: white;
    background: rgb(59 130 246);
    cursor: default;
}

.custom-select__option.is-hidden {
    display: none;
}